html, body {
  height: 100%;
  width: 100%;
  input[type=text],input[type=password],input[type=date],input[type=tel],select, textarea,input[type=email]{
                width: 90%;
                padding: 5px 10px;
                border-radius: 6px;
                font-size: 18px;
                color: rgb(12,112,90)
                
            }
            input[type=number]{width:20%}

        tr,td,th{min-width: 50px; border: solid; border-width: 1px}       
        body { background-color: lavender}

        div[name="body"]{margin-top: 10px;max-width:600px; min-width:150px; padding:20px;  margin:0px auto; border-radius:6px;

            }
}
